Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

In [1]:
import pandas as pd
import json

In [2]:
def clean_df(path):
    for x in path:
        if path[-3:] == 'csv':
            df= pd.read_csv(path)
        elif path[-4:] == 'xlsx':
            df = pd.read_excel(path)
        elif path[-4:] == 'json':            
            with open(path, "r") as json_file_readed:
                df = pd.DataFrame(json.load(json_file_readed))
        else: 
            print('Please use csv / json / xlsx files only')
    return (df)

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.

In [3]:
clean_df('C:\\DATA_SCIENCE\\covid_group_project\\resources\\json_own.json')

          year  n_v_averages
0   2020-12-29        4300.0
1   2020-12-30       30000.0
2   2020-12-31       11300.0
3   2021-01-03         442.0
4   2021-01-04       41387.0
5   2021-01-05       52255.5
6   2021-01-06       20133.0
7   2021-01-07       28597.0
8   2021-01-08       40242.0
9   2021-01-09        1235.0
10  2021-01-10        3031.0
11  2021-01-11       54781.0
12  2021-01-12       66908.5
13  2021-01-13       76554.0
14  2021-01-14       67908.0
15  2021-01-15       59623.5
16  2021-01-16       20340.0
17  2021-01-17       12163.0
18  2021-01-18       25698.0